Run %load_ext sql first befor importing libraries

In [1]:
%load_ext sql

Imported Library 
# greyed out libraries are not requires to connect to the database

MySQLdb is preffered to MySQL connector becuase it has less connection issues.
Also see https://jupyter-tutorial.readthedocs.io/en/stable/data-processing/postgresql/ipython-sql.html
for more information.

In [5]:
#import pandas as pd
#import numpy as np
#import requests
#import matplotlib as plt
#import openpyxl
import MySQLdb
#from __future__ import print_function
#import mysql.connecto
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
from MySQLdb import _mysql

MySQL connection
format 
# mysqlclient - ("mysql+mysqldb://scott:tiger@localhost/foo")

# "mysql+mysqldb",
   # username = "admin",
   # password = "Workgroup21",
   # host = "otaskiesdb1.c5loshwm2k8c.eu-west-2.rds.amazonaws.com",
   # database = "v2gmodel"

In [14]:
%sql mysql+mysqldb://admin:Workgroup21@otaskiesdb1.c5loshwm2k8c.eu-west-2.rds.amazonaws.com/v2gmodel

MySQl Magic 

Example - This example connect to the database and prints the first 15 lines of the database.

In [15]:
%%sql mysql+mysqldb://admin:Workgroup21@otaskiesdb1.c5loshwm2k8c.eu-west-2.rds.amazonaws.com/v2gmodel
SELECT * FROM v2gmodel.elaadnl_data limit 15

15 rows affected.

[(3261657, 'e62c50d1be0a2f80ec51d471f9630a4e', 2, '01/01/2019 00:30', '01/01/2019 08:24', '826d337c1d84900452edfcb27a3fb11bcbd06f35da8406abd9ca28b1291d219c', 7.91, 1.0, 6.53, 9.818),
 (3262038, '9bae10789a789973cc7f05d2a96df76f', 1, '01/01/2019 10:36', '01/01/2019 12:52', '26612ba143072faddaa884c2b04208992c5f44d97e5a247dacfbce8a6b0fb9c9', 2.27, 2.27, 8.08, 3.6),
 (3262129, '5ab468315a1f42feb6d0a87307593352', 1, '01/01/2019 11:49', '01/01/2019 17:50', '8478920deafe847713d1707d8f71a043c59fa066e55020b941c8685aa6634f64', 6.02, 3.75, 11.56, 3.4),
 (3262170, '00fa448dfcba79a12a3cea56fb48d63f', 2, '01/01/2019 12:22', '01/01/2019 14:29', 'e8e1953d3e6221f971ce3299d2fa8275cdc9e7700e2b391485928725b7e8711e', 2.12, 0.87, 3.84, 7.973),
 (3262208, 'e35645c6b4adb10224ecfbdff6bc5473', 1, '01/01/2019 12:51', '01/01/2019 15:16', '6490d53fbbe95d74592928292858f9b156d838f08d062e7258f1e95321dfd4e8', 2.41, 2.41, 8.5, 3.592),
 (3262308, 'b8c667bad033c61b8f9bf2efe8f08da5', 1, '01/01/2019 13:55', '01/01/2019 16:45', '3a536ca8fc0944a8818622082ef20efadc7e425d3fd846dc3329f606a80fec82', 2.84, 2.38, 7.2, 3.508),
 (3262324, 'e1a200358838d1677b3126969a3258c9', 1, '01/01/2019 14:04', '01/01/2019 16:12', '0e36e13bf422d9e3f5deab0a18983085e504c4f4b7772e5aa4c7f74a3495eae1', 2.14, 2.13, 7.74, 3.72),
 (3262383, '06ba7ca4a213bc697a16e6c01bad37ee', 2, '01/01/2019 14:31', '01/01/2019 15:45', '2a9a11575a55ae3f763bce2c28a7aeb14d91149775f6ccab8041aabdc66b73ee', 1.23, 1.23, 8.65, 7.08),
 (3262404, 'b70a408b2cd8062edc31ccfccf74e30c', 1, '01/01/2019 14:43', '01/01/2019 19:24', '9e722ff97635eb02bb737b93bc033410597720b322d4591e77cad50a85872e64', 4.69, 4.69, 17.18, 3.752),
 (3262516, '02577405d2fd69e76097a39a9c082d81', 1, '01/01/2019 15:47', '01/01/2019 17:27', '4372463e6c3bd40a40d130aa5872ca6429d6ba2051656bd06db23dbc73c7c253', 1.67, 1.67, 5.85, 3.552),
 (3262598, '0ecad080f03d0178b3a2fbcc5f494efe', 1, '01/01/2019 16:37', '02/01/2019 08:02', '6c023058fb4f77d06bdb88b6b2174aab1fbb80f50a0d0db0dca4942277d3eb46', 15.41, 1.7, 4.1, 3.48),
 (3262660, '219234f7b1d5c491f7d602baf6d1bf81', 2, '01/01/2019 17:20', '02/01/2019 11:38', '3215bbb9540980cbd8709f27ec42a065096204a9840c033dc5e5aebe8c154150', 18.31, 2.31, 7.09, 3.56),
 (3262697, 'a01bbb9b14d25f2453ab90ff87e680b4', 1, '01/01/2019 17:54', '01/01/2019 19:58', 'bcec2754d96797c53955fa6581541b89fd012d5ca78e02c3b311cac0a24474ef', 2.07, 2.07, 6.26, 3.24),
 (3262735, '5a6d1497b113b01e1382417a740167a9', 1, '01/01/2019 14:03', '01/01/2019 14:39', '291e27fff38f85c0197d7d05ee73ed70b428eb8b32de650e34bf728f7790c719', 0.6, 0.6, 5.97, 10.154),
 (3262737, 'e6f3e4eb46fa7bfda7bf017a4871d258', 1, '01/01/2019 18:18', '02/01/2019 05:51', 'e1aa94b4d6d8348bbfb5ae278e7d22771f3caf3b5b18da60562c1e8c8cce6288', 11.55, 2.45, 7.5, 3.52)]